<!DOCTYPE html>
<html>
    <head>

        <script src="./js/site.js"></script>
        <link rel="stylesheet" href="./css/site.css">

    </head>

    <body>

        <p><button onclick="myMove()">Watch me Move!!</button></p>

        <div id="container">
            <div id="animate"></div>
        </div>

        
    </body>

</html>